form([formGroup]="form", (submit)="onSubmit()")
  label
    input(type="email" formControlName="email" placeholder="Email" required)
  br
  br
  label
    input(type="password" formControlName="password" placeholder="Password" required)
  br
  br
  button {{ 'Sign in' }}

p
  button.fb((click)="facebookCheckStatus()")  {{ 'Login with facebook' }}
